body {
    display: flex;
    flex-direction: column;
    line-height: 2.3;
  }

  h1{
      display: flex;
      justify-content: center;
      background-color: rgb(54, 54, 191);
      color: white;
      font-size: 2rem;
  }

  main{
      display: flex;
      flex-direction: row;
      margin-left: 5px;
      margin-right: 5px;
  }
  
  #input-field{
      padding: 0.5rem;
      padding-left: 5rem;
      padding-right: 5rem;
      margin-bottom: 0.8rem;
  }

  #search{
    padding: 0.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-radius: 0.5rem;
    background-color: rgb(164, 86, 131);
    color: white;
}

 section > ul{
    
   display: inline-block;
   background-color: rgb(226, 192, 182);
   /* color: white; */
   border: blue 3px solid;
   /* margin-left: rem */
    
}

#forecastDay1{
    margin-left: 15rem
}

#five-forecast{
    margin-left: 15rem
}

#uv-index, #uvi {
     display: inline-block;
  }

  /* #uv-index{
      padding-right: 3rem;
  } */